<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">URL Shortener<i class="fas fa-link"></i></h1>
          <hr>
          <form method="POST" action="/">
            <div class="form-group form-row">
              <div class="col">
                <input type="url" name="excludeCharacters" class="form-control" id="exclude-characters"
                  placeholder="Input URL here">
              </div>
            </div>

            <button class="btn btn-success" type="submit">Shorten</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>