<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">URL Shortener<i class="fas fa-link"></i></h1>
          <hr>
          <form method="POST" action="/">
            {{#if warning}}
            <div class="alert alert-danger" role="alert">
              <div class="mr-2">{{warning}}</div>
            </div>
            {{/if}}
            {{#unless shortener}}
            <div class="form-group form-row">
              <div class="col">
                <input type="url" name="urlshorten" class="form-control" id="exclude-characters"
                  placeholder="Input URL here">
              </div>
            </div>

            <button class="btn btn-success" type="submit">Shorten</button>
            {{/unless}}
            {{#if shortener}}
            <div class="alert alert-primary" role="alert">
              <div class="mr-5">Success! Please use this link:</div>
              <div id="copyurl">{{shortener}}</div>
            </div>
            <button class="btn btn-success" id="copy" data-clipboard-target="#copyurl" type="button">Copy</button>
            <script>
              new Clipboard("#copy")
            </script>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>